table.debuglog {
    border-collapse: collapse;
    padding: 0; }
.debuglog th {
    background-color: black;
    color: white; }
.debuglog tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
.debuglog tr:nth-child(2n) {
      background-color: #f8f8f8; }
.debuglog tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
.debuglog tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
.debuglog tr th :first-child, .debuglog tr td :first-child {
      margin-top: 0; }
.debuglog tr th :last-child, .debuglog tr td :last-child {
      margin-bottom: 0; }
